<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by <%= display_artist(@song) %></h3>

<% if @song.artist_id.nil? %>
  <%= link_to "Edit Song", edit_song_path(@song.id)%>
<% else %>
  <%= link_to "All Songs", artist_songs_path(@song.artist_id) %>
<% end %>


